[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstall = "*"

[packages]
pygame = "*"
mypy = "*"
numpy = "*"
pyinstall = "*"

[requires]
python_version = "3.6"
